<div class="row">
  <div class="col-md-6">
    <h3>Mon, 2 Nov 2020</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop Survey</a> and Setup </td> </tr>
      <tr> <td>10:00</td>  <td><a href="http://swcarpentry.github.io/make-novice/">Automating Tasks with Make</a></td> </tr>
      <tr> <td>11:15</td>  <td>Morning break</td> </tr>
      <tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/make-novice/">Automating Tasks with Make</a> (Continued)</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tue, 3 Nov 2020</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Setup </td> </tr>
      <tr> <td>10:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version Control with Git</a></td> </tr>
      <tr> <td>11:15</td>  <td>Morning break</td> </tr>
      <tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version Control with Git</a> (Continued)</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Wed, 4 Nov 2020</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Setup </td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Building Programs with Python</a></td> </tr>
      <tr> <td>11:15</td>  <td>Morning break</td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Building Programs with Python</a> (Continued)</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thu, 5 Nov 2020</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Setup </td> </tr>
      <tr> <td>10:00</td>  <td><a href="http://swcarpentry.github.io/sql-novice-survey/">Managing Data with SQL</a></td> </tr>
      <tr> <td>11:15</td>  <td>Morning break</td> </tr>
      <tr> <td>11:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}">Post-workshop Survey</a></td> </tr>
      <tr> <td>11:45</td>  <td><a href="http://swcarpentry.github.io/sql-novice-survey/">Managing Data with SQL</a> (Continued)</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
